@import '../styles/variables.scss';

.startform {

    &__container {
        width: 40rem;
        margin: 3rem auto 0;
        color: white;
        font-family: $font;
        // outline: 1px solid black;
        box-shadow: 0 0 2rem -0.5rem rgba(0,0,0,0.5);
    }
}