@import "../styles/variables.scss";

.qualityform {
    padding: 2rem;

    &__rating-text {
        margin-bottom: 2.5rem;
        font-size: 6rem;
        height: 7rem;
        font-family: 'Roboto';
    }

    &__rating-input {
        margin-bottom: 2.5rem;
        height: 7rem;
        width: 12rem;
        font-size: 6rem;
        border: none;
        text-align: center;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h2 {
            margin-bottom: 0;
        }

        input[type=range] {
            -webkit-appearance: none;
        }

        input[type=range] {
            // border: 1px solid white;
            width: 300px;
        }

        input[type=range]::-moz-range-track {
            width: 300px;
            height: 1rem;
            background: #ccc;
            border: none;
            border-radius: 0.5rem;
        }

        input[type=range]::-moz-range-thumb {
            border: none;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background: $compColor1;
            cursor: pointer;
        }

        input[type=range]::-moz-focusring {
            outline: 1px solid white;
            outline-offset: -1px;
        }
    }
}