p Thanks for subscribing to AvailaCinema notifications!
p In order to confirm your subscription and begin receiving email notifications, please click the link below:
a(href="#{notificationLink}") #{notificationLink}