@import '../../Assets/styles/variables.scss';


.confirm {
    height: 20rem;
    width: 40rem;
    margin: 3rem auto 0;
    background-color: lighten($bgColor,10%);
    border-radius: 0.5rem;

    &__cta {
        color: white;
        padding: 3rem;
    }
}