@import '../styles/variables.scss';
@import '../styles/common.scss';

.main {
    height: 30rem;
    width: 60rem;
    margin: 3rem auto 0;
    display: flex;
    color: white;
    font-family: $font;
    flex-direction: row;

    &__left, &__right {
        width: 50%;
    }

    &__description {
        margin-left: 3rem;
    }

    &__title {
        font-size: 3rem;
        line-height: 1;
        margin-top: 8rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1.2rem;
    }

    &__blurb {
        width: 75%;
        margin-top: 2rem;
        color: rgba(255,255,255,0.75);
        font-weight: lighter;
    }

    &__right {
        display: flex;
        justify-content: center;
    }

    &__cta {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;

        button {
            @extend %button;
        }
    }

    &__login {
        margin-top: 2rem;
    }
}