@import '../../Assets/styles/variables.scss';
@import '../../Assets/styles/common.scss';

.startform {

    &__container {
        width: 40rem;
        margin: 3rem auto 0;
        color: white;
        font-family: $font;
        position: relative;
        // box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
    }

    &__submit {
        @extend %button;
        position: absolute;
        right: 0;
        bottom: -4rem;
    }
}