@import '../../Assets/styles/variables.scss';
@import '../../Assets/styles/common.scss';

.startform {

    &__container {
        width: 40rem;
        margin: 3rem auto 0;
        color: white;
        font-family: $font;
        position: relative;
    }

    &__submit {
        @extend %button;
        position: absolute;
        right: 0;
        bottom: -4rem;
    }

    &__submitting-icon {
        position: absolute;
        left: 3rem;
        top: 0.5rem;
    }
}