@import '../../Assets/styles/common.scss';

.genreform {
    
    overflow-y: scroll;

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__inputs {
        padding: 0 2rem 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__container {
        padding: 0.5rem;
        box-sizing: border-box;
        width: 33%;
        transition: background-color 0.25s;

        &:hover {
            background-color: rgba(0,0,0,0.2);
            border-radius: 0.5rem;
        }
    }

    &__surroundbox {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        transition: background-color 0.25s;
        cursor: pointer;

        &--selected {
            background-color: grey;
            border-radius: 0.5rem;
        }
    }

    &__select {
        @extend %button;
        height: 2rem;
        width: 8rem;
        margin: 1rem 0;
        box-shadow: none;
        background-color: white;

        &:last-of-type {
            margin-left: 3rem;
        }

        &:hover {
            background-color: darken(white,10%);
        }
    }
}