@import "../styles/variables.scss";


.notification {
    width: 100%;
    height: 100%;

    &__options {
        display: flex;
        direction: row;
        width: 100%;
        height: 100%;
        outline: 1px solid black;
    }

    &__option {
        width: 50%;
    }

    &__form {
        height: 100%;
        padding: 4em 2rem 2rem;

        label {
            cursor: pointer;
            font-size: 1.25rem;
        }
    }

    &__box {
        cursor: pointer;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;

        transition: background-color 0.25s;

        &:hover {
            background-color: rgba(0,0,0,0.2);
            border-radius: 0.5rem;
        }
    }

    &__text {
        margin-left: 1rem;
        text-transform: capitalize;
    }

    &__contact {
        width: 10rem;
        height: 2rem;
        background-color: white;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 0.25rem;
        font-size: 1rem;
        
        padding-left: 0.25rem;

        &::placeholder {
            color: rgba(0,0,0,0.5);
        }

        &:focus {
            border: 2px solid rgb(99, 164, 194);
            color: rgba(0,0,0,0.75);
        }

        &--valid, &--invalid {
            margin-left: 0.5rem;
        }
    }
}