@import '../../Assets/styles/variables.scss';

.startform {

    &__choices {
        margin: 0;
        padding: 0;
    }
    
    &__choice {
        list-style: none;

        .progressicon {
            margin-left: 1rem;
        }
    }

    &__titlebox {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: linear-gradient(to bottom, #fff 1%, #eaeaea 100%);
        box-shadow: 0 0 0 1px rgba(155,155,155,0.3),
                    1px 0 0 0 rgba(255,255,255,0.9),
                    0 2px 2px rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.6);
        cursor: pointer;
        &:hover {
            background: lighten($compColor1, 30%);
            box-shadow: none;
        }
    }

    &__title {
        height: 3.5rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    &__content {
        overflow: hidden;
        height: 0;
        transition: height 1s;
        display: flex;
        background: rgba(255, 255, 255, 0.1);
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &__choice--active {

        .startform__titlebox {
            background: linear-gradient(to top, lighten($compColor1, 10%), $compColor1);
            box-shadow: none;
        }
        .startform__content {
            height: 22rem;
        }
    }

    &__err {
        color: red;
        font-size: 1rem;
        margin-left: 2rem;
    }

}
    
.tooltip {
    background: rgba(0,0,0,0.3) !important;
}