@import './variables.scss';

%button {
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 3rem;
    border: none;
    background-color: $compColor1;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow: 0 0.5rem 0.5rem 0.125rem rgba(0,0,0,0.4);

    &:hover {
        background-color: darken($compColor1,10%);
    }

    &:disabled {
        // background-color: desaturate($compColor1, 40%);
        opacity: 0.5;
        cursor: default;
    }
}

%hero {
    height: 20rem;
    width: 40rem;
    margin: 3rem auto 0;
    background-color: lighten($bgColor,10%);
    border-radius: 0.5rem;
    color: white;
    padding: 3rem;

    p {
        color: $fadedFont;

        b {
            color: white;
        }
    }
}