$logo : '../images/video-play.svg';

.navbar {
    display: flex;
    flex-direction: row;
    height: 3rem;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 0 2rem;
    align-items: center;

    &__logo {
        background-image: url($logo);
        width: 1.75rem;
        height: 1.75rem;
    }
    
    &__brand {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__name {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-top: 0.25rem;
    }
    
    &__options {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
    
    &__option {
        margin-left: 2rem;
    }
}